<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search Engine Optimization</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<meta name="author" content="Tanislav Robert">
	<meta name="description" content="KARMO is a creative and modern template for digital agencies">

	<!-- STYLES -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/animsition.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>

<body class="animsition">
	<!-- Border -->
	<span class="frame-line top-frame visible-lg"></span>
	<span class="frame-line right-frame visible-lg"></span>
	<span class="frame-line bottom-frame visible-lg"></span>
	<span class="frame-line left-frame visible-lg"></span>
	<!-- HEADER  -->
	<header class="main-header">
		<div class="container-fluid">
				<!-- box header -->
				<div class="box-header">
						<div class="box-logo">
								<a href="index.html"><img src="img/logo.png" width="80" alt="Logo"></a>
						</div>
						<!-- box-nav -->
						<a class="box-primary-nav-trigger" href="#0">
								<span class="box-menu-icon"></span>
						</a>
						<!-- box-primary-nav-trigger -->
				</div>
				<!-- end box header -->

				<!-- nav -->
				<nav>
						<ul class="box-primary-nav">
								<li class="box-label">SEARCH ENGINE OPTIMIZATION</li>

								<li><a href="index.html">Home</a> <i class="lnr lnr-home"></i></li>
								<li><a href="services.html">services</a></li>
								<li><a href="single-project.html">single project</a></li>
								<li><a href="/contact">contact</a></li>

								<li class="box-label">SOCIAL</li>

								<li class="box-social"><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
				</nav>
				<!-- end nav -->

				<!-- box-intro -->
				<section class="box-intro bg-film">
						<div class="table-cell">

								<h3 class="box-headline letters rotate-2">
										<span class="box-words-wrapper">
												<b class="is-visible">BY: &nbsp;Zillah &nbsp;Poliquit.</b>
												<b>&nbsp;CLEAN &nbsp;&amp;&nbsp; CREATIVE.</b>
												<b>&nbsp;SIMPLE &nbsp;&amp;&nbsp; POWERFUL.</b>
										</span>
								</h3>
								<h1><i class="fa fa-diamond" aria-hidden="true"></i>ABOUT SEO<i class="fa fa-diamond" aria-hidden="true"></i></h1>

						</div>

						<div class="mouse">
								<div class="scroll"></div>
						</div>
				</section>
				<!-- end box-intro -->
		</div>
	</header>

	<!-- HISTORY OF AGENCY -->
	<section id="about" class="about mt-150 mb-50">
		<div class="container">
			<div class="row center">
				<div class="col-md-8 col-md-offset-2">
					<img src="img/about.png" alt="Khaki HTML Template" width="300">
					<div class="km-space"></div>
					<!-- <h5 class="lead">This is our most powerful template, that provide functionality to create corporate, app showcase, gaming, music, barber, etc websites.</h5> -->

					<ul align="justify">
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/seo"> What is SEO?</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/seoVSsem"> SEO VS SEM</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/onpageVSoffpage"> On-page VS Off-page</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/canonical"> URL Canonicalization</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/resp"> Responsiveness</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/components"> Backlinks</a></li>
					</ul>

				</div>
			</div><!-- description text -->
		</div>
	</section>

	<!-- FACTS  -->
	<div id="facts" class="facts mt-100 mbr-box mbr-section mbr-section--relative">
		<div class="container">
			<div class="row text-center">
			    <div class="col-xs-12 col-lg-3 col-md-3">
                    <div class="count-item">
                        <i class="lnr lnr-clock"></i>
                        <div class="numscroller" data-slno='1' data-min='0' data-max='4444' data-delay='10' data-increment="10">9909</div>
                        <div class="count-name-intro">Hours</div>
                    </div>
                </div>
                <div class="col-xs-12  col-lg-3 col-md-3">
                    <div class="count-item">
                        <i class="lnr lnr-rocket"></i>
                        <div class="numscroller" data-slno='1' data-min='0' data-max='1111' data-delay='10' data-increment="5">1111</div>
                        <div class="count-name-intro">Projects</div>
                    </div>
                </div>
                <div class="col-xs-12  col-lg-3 col-md-3">
                    <div class="count-item">
                        <i class="lnr lnr-coffee-cup"></i>
                        <div class="numscroller" data-slno='1' data-min='0' data-max='1555' data-delay='10' data-increment="5">1555</div>
                        <div class="count-name-intro">coffe's</div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 col-md-3">
                    <div class="count-item">
                        <i class="lnr lnr-camera"></i>
                        <div class="numscroller" data-slno='1' data-min='0' data-max='4444' data-delay='10' data-increment="10">4444</div>
                        <div class="count-name-intro">Photos taken</div>
                    </div>
                </div>
        	</div>
		</div>
	</div>


	<!-- FEATURES -->
	<div id="features" class="features mbr-box mbr-section mbr-section--relative">
		<div class="container">
						<div class="row center">
							<div class="feature-item">
								<div class="col-md-3 col-sm-6">
									<div class="item-head">
										<i class="lnr lnr-diamond"></i>
									</div>
									<h6>creative design</h6>
									<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
							<!-- End features-item -->
							<div class="feature-item">
								<div class="col-md-3 col-sm-6">
									<div class="item-head">
										<i class="lnr lnr-rocket"></i>
									</div>
									<h6>well organized</h6>
									<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.e</p>
								</div>
							</div>
							<!-- End features-item -->

							<div class="feature-item">
								<div class="col-md-3 col-sm-6">
									<div class="item-head">
										<i class="lnr lnr-mustache"></i>
									</div>
									<h6>easy to customize</h6>
									<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
							<!-- End features-item -->

							<div class="feature-item">
								<div class="col-md-3 col-sm-6">
									<div class="item-head">
										<i class="lnr lnr-phone"></i>
									</div>
									<h6>support 24/7</h6>
									<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
							</div>
							<!-- End features-item -->
						</div>
					</div>
	</div>

	<!-- SERVICES PARALAX -->
	<section id="services" class="services mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background"  style="background-image: url(img/spring.jpg);">
		<div class="section-overlay"></div>
		<div class="container">
			<div class="row center">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="section-title-parralax">
						<div class="process-numbers"><i class="fa fa-diamond" aria-hidden="true"></i></div>
						<h2>services</h2>
						<p class="module-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 right col-full right-0">
					<i class="lnr lnr-rocket"></i>
					<h6>unlimited options</h6>
					<p>Quisque eget hendrerit eros, ut interdum magna.
						<br>Donec urna ante, lobortis nec dictum eget, porta non turpis.
					</p>
				</div>
				<div class="col-lg-6 left col-full left-0">
					<i class="lnr lnr-laptop-phone"></i>
					<h6>design &amp; development</h6>
					<p>Quisque eget hendrerit eros, ut interdum magna.
						<br>Donec urna ante, lobortis nec dictum eget, porta non turpis.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 right col-full right-0">
					<i class="lnr lnr-cart"></i>
					<h6>e-commerce</h6>
					<p>Quisque eget hendrerit eros, ut interdum magna.
						<br>Donec urna ante, lobortis nec dictum eget, porta non turpis.
					</p>
				</div>
				<div class="col-lg-6 left col-full left-0">
					<i class="lnr lnr-cog"></i>
					<h6>customizable design</h6>
					<p>Quisque eget hendrerit eros, ut interdum magna.
						<br>Donec urna ante, lobortis nec dictum eget, porta non turpis.
					</p>
				</div>
			</div>
		</div>
	</section>


	<!-- Contact -->
	<section id="contact" class="contact mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted">
		<div class="container">
			<div class="col-md-6 col-sm-12">
				<div class="row">
					<h4> let's work together</h4>
						<p class="libre-text mt-50">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.
						</p>

					<a href="/contact" class="default-btn"> Get in touch <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				</div>
			</div>

			<!-- Subscribe block -->
			<div class=" col-md-offset-1 col-md-5 col-sm-12">
				<div class="row center">
					<div class="newsletter">
						<h4>SUBSCRIBE</h4>
						<p class="libre-text mb-50">
							Stay informed with our newsletter
						</p>
						<form action="#" method="post">
							<div class="input_1">
								<input type="text" name="email">
								<span>Enter your email adress</span>
							</div>
							<button id="submit_btn" class="default-btn"> Send <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="main-footer">
		<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
			<path d="M0 0 L50 100 L100 0 Z" fill="#fff" stroke="#fff"></path>
		</svg>
            <div class="container">
                <div class="row mt-100 mb-50 footer-widgets">
                    <!-- Start Contact Widget -->
                    <div class="col-md-6 col-xs-12">
                        <div class="footer-widget contact-widget">
                            <img src="img/footerlogo.png" class="logo-footer img-responsive" alt="Footer Logo" />
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                                </li>
                                <li>
                                    <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                                </li>
                                <li>
                                    <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                                </li>
                                <li>
                                    <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Contact Widget -->

                    <!-- Start Twitter Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget twitter-widget">
                            <h4>Email</h4>
														Email: zpoliquit_1500169@uic.edu.ph <br>
														Phone: +639472875362
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Twitter Widget -->

                <!-- Start Copyright -->
                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2016 Karmo -  All Rights Reserved <a href="#">Tanislav Robert</a> </p>
                        </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                </div>
                <!-- End Copyright -->
            </div>
	</footer>

	<!-- SCRIPTS -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="js/animated-headline.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="js/jquery.animsition.min.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="js/numscroller.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>

	<script type="text/javascript">
		$(window).load(function() {
			new WOW().init();

			// initialise flexslider
			$('.flexslider').flexslider({
				animation: "fade",
				directionNav: true,
				controlNav: false,
				keyboardNav: true,
				slideToStart: 0,
				animationLoop: true,
				pauseOnHover: false,
				slideshowSpeed: 4000,
			});

			smoothScroll.init();

			// initialize isotope
			var $container = $('.portfolio_container');
			$container.isotope({
				filter: '*',
			});

			$('.portfolio_filter a').click(function(){
				$('.portfolio_filter .active').removeClass('active');
				$(this).addClass('active');

				var selector = $(this).attr('data-filter');
				$container.isotope({
					filter: selector,
					animationOptions: {
						duration: 500,
						animationEngine : "jquery"
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>
