<!DOCTYPE html>
<html lang="en">
<head>
	<title>ON-PAGE VS OFF-PAGE</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<meta name="author" content="Tanislav Robert">
	<meta name="description" content="KARMO is a creative and modern template for digital agencies">

	<!-- STYLES -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/animsition.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>

<body class="animsition">
	<!-- Border -->
	<span class="frame-line top-frame visible-lg"></span>
	<span class="frame-line right-frame visible-lg"></span>
	<span class="frame-line bottom-frame visible-lg"></span>
	<span class="frame-line left-frame visible-lg"></span>
	<!-- HEADER  -->
	<header class="main-header">
		<div class="container-fluid">
				<!-- box header -->
				<div class="box-header">
						<div class="box-logo">
								<a href="index.html"><img src="img/logo.png" width="80" alt="Logo"></a>
						</div>
						<!-- box-nav -->
						<a class="box-primary-nav-trigger" href="#0">
								<span class="box-menu-icon"></span>
						</a>
						<!-- box-primary-nav-trigger -->
				</div>
				<!-- end box header -->

				<!-- nav -->
				<nav>
						<ul class="box-primary-nav">
								<li class="box-label">About me</li>

								<li><a href="index.html">Home</a> <i class="ion-ios-circle-filled color"></i></li>
								<li><a href="services.html">services</a></li>
								<li><a href="contact.html">contact</a></li>

								<li class="box-label">Follow us</li>

								<li class="box-social"><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
				</nav>
				<!-- end nav -->
		</div>
	</header>

	<!-- HERO SECTION  -->
	<div class="site-hero_2">
		<div class="section-overlay"></div>
		<div class="page-title">
			<h1>ON-PAGE VS OFF-PAGE</h1>
			<h3>June 30, 2017</h3>
		</div>
	</div>


	<section class="project_descr">
		<div class="container mt-100">
			<div class="row center">
			<div class="col-md-8 col-md-offset-2 col-sm-12">
				<!-- <div class="section-title">
					<h2 class="mb-50">project title</h2>
					<p class="module-subtitle">Latest project we have made. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
				</div> -->
			</div>
			</div>

			<div class="row mt-50">
				<div class="col-md-9 wow fadeInUp">
					<p align="justify">On-page SEO helps you to optimize your website to make it good for all search engines. Off-page SEO helps you to get the leading position in search engines among other websites. It pays attention to aspects of other websites to make your site the best one.</p><br>
			<div class="section-title" align="center">
				<h2 class="mb-50">Guides for ON-PAGE Technique</h2>
				</div>
			<h4><br><span class="main-color">USE SEO-FRIENDLY URLS</span></h4>
									<p align="justify">Google has stated that the first 3-5 words in a URL are given more weight.So make your URLs short and sweet.And always include your target keyword in your URL.</p>
			<h4><br><span class="main-color">START TITLE WITH KEYWORD</span></h4>
									<p align="justify">The title tag is the most important on-page SEO factor.In general, the closer the keyword is to the beginning of the title tag, the more weight it has with search engines.</p>
			<h4><br><span class="main-color">ADD MODIFIERS TO YOUR TITLE</span></h4>
                                    <p align="justify">Using modifiers like “2017”, “best”, “guide”, and “review” can help you rank for long tail versions of your target keyword.</p>
            <h4><br><span class="main-color">WRAP YOUR BLOG POST TITLE IN AN H1 TAG</span></h4>
                                    <p align="justify">The H1 tag is your “headline tag”. Most CMS’s (like WordPress) automatically add the H1 tag to your blog post title. If that’s the case, you’re all set.But some themes override this setting. Check your site’s code to make sure your title gets the H1 love it deserves.</p>

            <h4><br><span class="main-color">DAZZLE WITH MULTIMEDIA</span></h4>
                                    <p align="justify">Text can only take your content so far. Engaging images, videos and diagrams can reduce bounce rate and increase time on site: two critical user interaction ranking factors.</p>

            <h4><br><span class="main-color">WRAP SUBHEADINGS IN H2 TAGS</span></h4>
                                    <p align="justify">Include your target keyword in at least once subheading and wrap it in an H2 tag.</p>

            <h4><br><span class="main-color">DROP KEYWORDS IN FIRST 100 WORDS</span></h4>
                                    <p align="justify">Your keyword should appear in the first 100-150 words of your article.</p>

            <h4><br><span class="main-color">USE RESPONSIVE DESIGN</span></h4>
                                        <p align="justify">Google started penalizing mobile unfriendly sites in 2015. And they’re likely crack down even more in the future. If you want to make your site mobile-friendly, I recommend Responsive Design.</p>

            <h4><br><span class="main-color">USE OUTBOUND LINKS</span></h4>
                                        <p align="justify">Outbound links to related pages helps Google figure out your page’s topic. It also shows Google that your page is a hub of quality info.</p>

            <h4><br><span class="main-color">USE INTERNAL LINKS</span></h4>
                                        <p align="justify">Internal linking is SO money. Use 2-3 in every post.</p>

            <h4><br><span class="main-color">BOOST SITE SPEED</span></h4>
                                        <p align="justify">Google has stated on the record that page loading speed is an SEO ranking signal. You can boost your site speed by using a CDN, compressing images, and switching to faster hosting.Make sure your site doesn’t take more than 4 seconds to load: MunchWeb found that 75% of users wouldn’t re-visit a site that took longer than 4 seconds to load.</p>

            <h4><br><span class="main-color">SPRINKLE LSI KEYWORDS</span></h4>
                                        <p align="justify">LSI keywords are synonyms that Google uses to determine a page’s relevancy (and possibly quality). Sprinkle them into every post.</p>

            <h4><br><span class="main-color">IMAGE OPTIMIZATION</span></h4>
                                        <p align="justify">Make sure at least one image file name includes your target keyword (for example, on_page_SEO.png) and that your target keyword is part of your image Alt Text.</p>

            <h4><br><span class="main-color">USE SOCIAL SHARING BUTTONS</span></h4>
                                        <p align="justify">Social signals may not play a direct role in ranking your site. But social shares generate more eyeballs on your content.And the more eyeballs you get, the more likely someone is to link to you. So don’t be shy about placing social sharing buttons prominently on your site.In fact, a study by BrightEdge found that prominent social sharing buttons can increase social sharing by 700%.</p>

            <h4><br><span class="main-color">POST LONG CONTENT</span></h4>
                                        <p align="justify">The SEO adage “length is strength” was supported by our industry study which found that longer content tends to rank significantly higher on Google’s first page.</p>

            <h4><br><span class="main-color">BOOST DWELL TIME</span></h4>
                                        <p align="justify">If someone hits their back button immediately after landing on a page, it tells Google in black-and-white: this is low quality page.That’s why Google uses “dwell time” to size up your content’s quality. Increase your average dwell time by writing long, engaging content that keeps people reading.</p>

            <div class="section-title" align="center">
				<h2 class="mb-50"><br>Guides for OFF-PAGE Technique</h2>
				</div>
				<h4><br><span class="main-color">SOCIAL MEDIA ENGAGEMENT</span></h4>
										<p align="justify">A major Off-page SEO technique is social media engagement. If you want to make your business, website or blog popular, engage with people on multiple social media platforms. Social media presence will help grow your business and also help you get more back links.</p>

                <h4><br><span class="main-color">SOCIAL BOOKMARKING SITES</span></h4>
                                        <p align="justify">Social bookmarking sites are one of the best platforms to promote your website. When you bookmark your webpage or blog post on popular social bookmarking websites, you gain high traffic to your webpage or blog.</p>

                <h4><br><span class="main-color">FORUM SUBMISSION</span></h4>
                                        <p align="justify">Participate in search forums which are related to your website and business and make a connection with that community. Reply to threads, answer people’s questions and give your suggestions and advice. Make use of “Do-Follow” forums.</p>

                <h4><br><span class="main-color">ARTICLE SUBMISSION</span></h4>
                                        <p align="justify">Submit your articles in a high PR article submission directory. You can also give links to your website. Make sure your content is unique and of high quality. Low quality content and content that has more keyword stuffing might get rejected. Choose the correct category and give a good title to your content.</p>

                <h4><br><span class="main-color">QUESTION AND ANSWER</span></h4>
                                        <p align="justify">One of the best ways you can get high traffic is from question and answer websites. Join high PR question and answer sites and search for questions related to your business, blog or website and give clear answers to these questions. Give a link to your website which will help in bringing you more visibility.</p>

                <h4><br><span class="main-color">VIDEO SUBMISSION</span></h4>
                                        <p align="justify">If you want to make your videos popular, head to popular video submission sites. Give a proper title, description, tags and reference links. It is one of the more popular ways to get quality back links because all video submission websites have high PR.</p>

                <h4><br><span class="main-color">IMAGE SUBMISSION</span></h4>
                                        <p align="justify">If you want to make your videos popular, head to popular video submission sites. Give a proper title, description, tags and reference links. It is one of the more popular ways to get quality back links because all video submission websites have high PR.</p>

                <h4><br><span class="main-color">INFOGRAPHICS SUBMISSION</span></h4>
                                        <p align="justify">Make creative infographics. These days, infographics are getting popular on the internet. Submit your infographics on infographics submission websites and give reference links to your webpage or blog. The image sizes differ with different websites.</p>

                <h4><br><span class="main-color">DOCUMENT SHARING</span></h4>
                                        <p align="justify">Create attractive documents relating to your business or blog. The documents should have unique content and should be in either pdf or ppt formats. Submit these documents in the document sharing websites.</p>
				</div>
				<div class="col-md-3 wow fadeInUp" data-wow-delay=".1s">
					<ul class="project_list" align="justify">
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/seoVSsem"> What is SEO?</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/seoVSsem"> SEO VS SEM</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/canonical"> URL Canonicalization</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/resp"> Responsiveness</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/backlink"> Backlinks</a></li>
					</ul>
					<h5 class="share-title">share</h5>
					<ul class="social-icons" style="margin-top:20px;">
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="tw"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="ln"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="pt"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="pages_pagination">
				<!-- <a href="/seo" class="all"><i class="lnr lnr-menu"></i></a> -->
				<a href="/seoVSsem" class="prev"><i class="lnr lnr-arrow-left"></i></a>
				<a href="/canonical" class="next"><i class="lnr lnr-arrow-right"></i></a>
			</div>
		</div><!-- end container -->
	</section>

	<div class="container">
			<div class="flexslider">
				<ul class="slides">
					<li><img src="img/MainSEO.png" alt="portfolio" /></li>
					<li><img src="img/seo.png" alt="portfolio" /></li>
					<li><img src="img/www.png" alt="portfolio" /></li>
				</ul>
			</div>
		</div>

		<!-- FACTS  -->
		<div id="facts" class="facts mt-100 mbr-box mbr-section mbr-section--relative">
			<div class="container">
				<div class="row center">
					<div class="col-md-8 col-md-offset-2"><h2 class="mb-100">Fun facts about this project</h2></div>
				</div>
				<div class="row text-center">
						<div class="col-xs-12 col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-clock"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='50' data-delay='10' data-increment="3">50</div>
													<div class="count-name-intro">+ Hours</div>
											</div>
									</div>
									<div class="col-xs-12  col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-mustache"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='8' data-delay='10' data-increment="2">5</div>
													<div class="count-name-intro">Designers</div>
											</div>
									</div>
									<div class="col-xs-12  col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-coffee-cup"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='400' data-delay='10' data-increment="4">400</div>
													<div class="count-name-intro">coffe's</div>
											</div>
									</div>
									<div class="col-xs-12 col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-camera"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='3000' data-delay='10' data-increment="9">3000</div>
													<div class="count-name-intro">+ Photos taken</div>
											</div>
									</div>
						</div>
			</div>
		</div>

	<!-- Footer -->
	<footer class="main-footer">
		<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="yellow">
			<path d="M0 0 L50 100 L100 0 Z" fill="#ffeedb" stroke="#ffeedb"></path>
		</svg>
            <div class="container">
                <div class="row mt-100 mb-50 footer-widgets">

                    <!-- Start Contact Widget -->
                    <div class="col-md-6 col-xs-12">
                        <div class="footer-widget contact-widget">
                            <img src="img/footerlogo.png" class="logo-footer img-responsive" alt="Footer Logo" />
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                                </li>
                                <li>
                                    <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                                </li>
                                <li>
                                    <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                                </li>
                                <li>
                                    <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Contact Widget -->

                    <!-- Start Twitter Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget twitter-widget">
                            <h4>Twitter</h4>
														Email: somecompany@example.com <br>
														Phone: +1 234 567 89 10
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Twitter Widget -->

                    <!-- Start Flickr Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget company-links">
                            <h4>Company</h4>
							<ul class="footer-links">
								<li><a href="#">About</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Our Products</a></li>
								<li><a href="#">Our Culture</a></li>
								<li><a href="#">Team</a></li>
							</ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Flickr Widget -->
                </div><!-- .row -->

                <!-- Start Copyright -->
                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2016 Karmo -  All Rights Reserved <a href="#">Tanislav Robert</a> </p>
                        </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                </div>
                <!-- End Copyright -->
            </div>
	</footer>

	<!-- SCRIPTS -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="js/animated-headline.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="js/jquery.animsition.min.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="js/numscroller.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>

	<script type="text/javascript">
		$(window).load(function() {
			new WOW().init();

			// initialise flexslider
			$('.flexslider').flexslider({
				animation: "fade",
				directionNav: true,
				controlNav: false,
				keyboardNav: true,
				slideToStart: 0,
				animationLoop: true,
				pauseOnHover: false,
				slideshowSpeed: 4000,
			});

			smoothScroll.init();

			// initialize isotope
			var $container = $('.portfolio_container');
			$container.isotope({
				filter: '*',
			});

			$('.portfolio_filter a').click(function(){
				$('.portfolio_filter .active').removeClass('active');
				$(this).addClass('active');

				var selector = $(this).attr('data-filter');
				$container.isotope({
					filter: selector,
					animationOptions: {
						duration: 500,
						animationEngine : "jquery"
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>
