<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search Engine Optimization</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<meta name="author" content="Tanislav Robert">
	<meta name="description" content="KARMO is a creative and modern template for digital agencies">

	<!-- STYLES -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/animsition.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>

<body class="animsition">
	<!-- Border -->
	<span class="frame-line top-frame visible-lg"></span>
	<span class="frame-line right-frame visible-lg"></span>
	<span class="frame-line bottom-frame visible-lg"></span>
	<span class="frame-line left-frame visible-lg"></span>
	<!-- HEADER  -->
	<header class="main-header">
		<div class="container-fluid">
				<!-- box header -->
				<div class="box-header">
						<div class="box-logo">
								<a href="index.html"><img src="img/logo.png" width="80" alt="Logo"></a>
						</div>
						<!-- box-nav -->
						<a class="box-primary-nav-trigger" href="#0">
								<span class="box-menu-icon"></span>
						</a>
						<!-- box-primary-nav-trigger -->
				</div>
				<!-- end box header -->

				<!-- nav -->
				<nav>
						<ul class="box-primary-nav">
								<li class="box-label">About me</li>

								<li><a href="index.html">Home</a> <i class="ion-ios-circle-filled color"></i></li>
								<li><a href="services.html">services</a></li>
								<li><a href="single-project.html">single project</a></li>
								<li><a href="contact.html">contact</a></li>

								<li class="box-label">Follow us</li>

								<li class="box-social"><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="box-social"><a href="#0"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
				</nav>
				<!-- end nav -->
		</div>
	</header>

	<!-- HERO SECTION  -->
	<div class="site-hero_2">
		<div class="section-overlay"></div>
		<div class="page-title">
			<h1>BACKLINKS</h1>
		</div>
	</div>


	<section class="project_descr">
		<div class="container mt-100">
			<div class="row center">
			<div class="col-md-8 col-md-offset-2 col-sm-12">
				<div class="section-title">
				<h2>Other <span class="main-color">Website</span> that also contains everything about <span class="main-color">SEO</span></h2>
					<!-- <h2 class="mb-50"></h2>
					<p class="module-subtitle">Latest project we have made. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p> -->
				</div>
			</div>
			</div>

			<div class="row mt-50">
				<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>

                                        </figure>
                                        <br> <img src="http://thesearch.herokuapp.com/images/dianne.jpg" class="img-responsive">
                                        <span><b>Dianne Calamba</b></span>
                                        <br>
                                        <a href="https://allaboutseo.herokuapp.com/" target="_blank"><span class="main-color">alloaboutseo</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/ryan.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Ryan Capua</b></span>
                                        <br>
                                        <a href="https://capua-seo.herokuapp.com/" target="_blank"><span class="main-color">capua-seo</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/claire.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Claire Cardiño</b></span>
                                        <br>
                                        <a href="https://itelect-assign1.herokuapp.com/" target="_blank"><span class="main-color">itelect-assign1</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/criscia.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Criscia Dama</b></span>
                                        <br>
                                        <a href="https://damase3.herokuapp.com" target="_blank"><span class="main-color">damase3</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/miguel.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Miguel Dorado</b></span>
                                        <br>
                                        <a href="https://infovert.herokuapp.com" target="_blank"><span class="main-color">infovert</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/chessa.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Chessa Estilloso</b></span>
                                        <br>
                                        <a href="https://estilloso-itelect-assign1.herokuapp.com" target="_blank"><span class="main-color">estilloso-itelect</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/harryn.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Harryn Llait</b></span>
                                        <br>
                                        <a href="https://seollait.herokuapp.com" target="_blank"><span class="main-color">seollait</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/marco.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Marco Matildo</b></span>
                                        <br>
                                        <a href="https://seo-mat.herokuapp.com" target="_blank"><span class="main-color">seo-mat</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/liza.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Liza Saludaga</b></span>
                                        <br>
                                        <a href="https://saludaga-060717.herokuapp.com" target="_blank"><span class="main-color">saludaga-060717</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/andrew.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Andrew Tenajeros</b></span>
                                        <br>
                                        <a href="https://seoassignment1.herokuapp.com" target="_blank"><span class="main-color">seoassignment1</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/james.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>James Tomambid</b></span>
                                        <br>
                                        <a href="https://tomambid-seo.herokuapp.com" target="_blank"><span class="main-color">tomambid-seo</span></a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                                        <figure>
                                            <br> <img src="http://thesearch.herokuapp.com/images/ervin.jpg" class="img-responsive">
                                        </figure>
                                        <span><b>Ervin Villegas</b></span>
                                        <br>
                                        <a href="https://villegaselective1assignment2.herokuapp.com" target="_blank"><span class="main-color">villegaselective1</span></a>
                                    </div>
					</div>
				<div class="col-md-3 wow fadeInUp" data-wow-delay=".1s">
					<ul class="project_list" align="justify">
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/seoVSsem"> What is SEO?</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/seoVSsem"> SEO VS SEM</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/onpageVSoffpage"> On-page VS Off-page</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/canonical"> URL Canonicalization</a></li>
						<li><i class="fa fa-diamond" aria-hidden="true"></i><a href="/resp"> Responsiveness</a></li>
					</ul>
					<h5 class="share-title">share</h5>
					<ul class="social-icons" style="margin-top:20px;">
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="tw"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="ln"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="pt"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="javasript:void(0);" data-social="fb"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="pages_pagination">
				<!-- <a href="/onpageVSoffpage" class="all"><i class="lnr lnr-menu"></i></a> -->
				<a href="/onpageVSoffpage" class="prev"><i class="lnr lnr-arrow-left"></i></a>
				<!-- <a href="/onpageVSoffpage" class="next"><i class="lnr lnr-arrow-right"></i></a> -->
			</div>
		</div><!-- end container -->
	</section>

	<div class="container">
			<div class="flexslider">
				<ul class="slides">
					<li><img src="img/work-1.jpg" alt="portfolio" /></li>
					<li><img src="img/work-1.jpg" alt="portfolio" /></li>
					<li><img src="img/work-1.jpg" alt="portfolio" /></li>
				</ul>
			</div>
		</div>

		<!-- FACTS  -->
		<div id="facts" class="facts mt-100 mbr-box mbr-section mbr-section--relative">
			<div class="container">
				<div class="row center">
					<div class="col-md-8 col-md-offset-2"><h2 class="mb-100">Fun facts about this project</h2></div>
				</div>
				<div class="row text-center">
						<div class="col-xs-12 col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-clock"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='50' data-delay='10' data-increment="3">50</div>
													<div class="count-name-intro">+ Hours</div>
											</div>
									</div>
									<div class="col-xs-12  col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-mustache"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='8' data-delay='10' data-increment="2">5</div>
													<div class="count-name-intro">Designers</div>
											</div>
									</div>
									<div class="col-xs-12  col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-coffee-cup"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='400' data-delay='10' data-increment="4">400</div>
													<div class="count-name-intro">coffe's</div>
											</div>
									</div>
									<div class="col-xs-12 col-lg-3 col-md-3">
											<div class="count-item">
													<i class="lnr lnr-camera"></i>
													<div class="numscroller" data-slno='1' data-min='0' data-max='3000' data-delay='10' data-increment="9">3000</div>
													<div class="count-name-intro">+ Photos taken</div>
											</div>
									</div>
						</div>
			</div>
		</div>

	<!-- Footer -->
	<footer class="main-footer">
		<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="yellow">
			<path d="M0 0 L50 100 L100 0 Z" fill="#ffeedb" stroke="#ffeedb"></path>
		</svg>
            <div class="container">
                <div class="row mt-100 mb-50 footer-widgets">

                    <!-- Start Contact Widget -->
                    <div class="col-md-6 col-xs-12">
                        <div class="footer-widget contact-widget">
                            <img src="img/footerlogo.png" class="logo-footer img-responsive" alt="Footer Logo" />
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                                </li>
                                <li>
                                    <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                                </li>
                                <li>
                                    <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                                </li>
                                <li>
                                    <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Contact Widget -->

                    <!-- Start Twitter Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget twitter-widget">
                            <h4>Twitter</h4>
														Email: somecompany@example.com <br>
														Phone: +1 234 567 89 10
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Twitter Widget -->

                    <!-- Start Flickr Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget company-links">
                            <h4>Company</h4>
							<ul class="footer-links">
								<li><a href="#">About</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Our Products</a></li>
								<li><a href="#">Our Culture</a></li>
								<li><a href="#">Team</a></li>
							</ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Flickr Widget -->
                </div><!-- .row -->

                <!-- Start Copyright -->
                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2016 Karmo -  All Rights Reserved <a href="#">Tanislav Robert</a> </p>
                        </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                </div>
                <!-- End Copyright -->
            </div>
	</footer>

	<!-- SCRIPTS -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="js/animated-headline.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="js/jquery.animsition.min.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="js/numscroller.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>

	<script type="text/javascript">
		$(window).load(function() {
			new WOW().init();

			// initialise flexslider
			$('.flexslider').flexslider({
				animation: "fade",
				directionNav: true,
				controlNav: false,
				keyboardNav: true,
				slideToStart: 0,
				animationLoop: true,
				pauseOnHover: false,
				slideshowSpeed: 4000,
			});

			smoothScroll.init();

			// initialize isotope
			var $container = $('.portfolio_container');
			$container.isotope({
				filter: '*',
			});

			$('.portfolio_filter a').click(function(){
				$('.portfolio_filter .active').removeClass('active');
				$(this).addClass('active');

				var selector = $(this).attr('data-filter');
				$container.isotope({
					filter: selector,
					animationOptions: {
						duration: 500,
						animationEngine : "jquery"
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>
